@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SITConnect!</h1>
    <h2 class="">The place for all your stationary needs</h2>
    <a asp-page="/Index" class="btn">Login / Sign Up</a>
</div>
